<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  slknfwejfnwe fnwe jfnwefjn wef wkjefn wekjfnwe fjnwefjk nwefkj nejfnwjken 
  kwfjn kjefn kjwefn fen kwnef knwekf nkwenfkwenfk nwkefn knwfkn kwenf kwnefk
  nwekfjn kwenfknejfn kjnfjn j njfn kjewfn kwenf kwne kfwn knfkw enfknw ekfnekw 
  nfkwfnekf nkwefn kewfn kwjenf wkefn wefn fj nfkjwneknfkj nfkwnefk nwkejfn kf
  jnwfk nwk nwkfn.
</p>
