<div class="center jumbotron">
  <h1>Generic E-commerce Site</h1>

  <h2>
    The one stop for all of your off-brand needs
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

 